<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">progress</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
  <ion-progress-bar value=".25" buffer=".5"></ion-progress-bar> <ion-progress-bar type="indeterminate"></ion-progress-bar>



</ion-content>
