<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        name="name"
        type="text"
        [(ngModel)]="name"
        fill="solid"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        name="email"
        type="email"
        [(ngModel)]="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        helperText="Enter a valid Email"
        errorText="Invalid email"
        email
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        name="password"
        type="password"
        [(ngModel)]="password"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        name="confirmPassword"
        type="password"
        [(ngModel)]="confirmPassword"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input name="tel" type="tel" [(ngModel)]="phone" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">Register</ion-button>
    </ion-item>
  </form>
</ion-content>
